[2017-03-27 10:03] coulibalyIsmael opened #2 "Can't launch node-OpenDroneMap"
Hi,
After succesful achieved all the processes  to launch node-OpenDroneMap locally , When I trie to launch: `node index.js`
 this error occurs:
`home/user/OpenDroneMap-0.2/node-OpenDroneMap/libs/Task.js:37
	constructor(uuid, name, done, options = []){
	                                      ^

SyntaxError: Unexpected token =
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (mod

[2017-03-27 12:36] pierotofy commented on #2
Hi @coulibalyIsmael,

I'm guessing that your version of node is lower than 6.

[code]

Make sure that your version of node is >= 6.0. Let me know if you have questions about upgrading it.

[2017-03-27 20:49] coulibalyIsmael commented on #2
After the nodeJS update it works fine. Thanks

[2017-03-27 20:49] #2 closed

[2017-04-05 20:19] FLYBYME opened #3 "CPU/Memory Usage"
It would be nice to have a historical view on system usage.

[2017-04-05 20:24] FLYBYME opened #4 "Image import"
Would be nice to import images from a git/zip url.

[2017-04-05 20:26] pierotofy commented on #4
Related: https://github.com/OpenDroneMap/WebODM/issues/89

[2017-04-05 22:52] FLYBYME opened #5 "Cancelled does not kill process"
When a task is cancelled the underlying process keeps living. We end up losing track of the process and all its logs even though its still running.

[2017-04-05 23:14] pierotofy commented on #5
Yes this is an outstanding issue (I documented it in the source code) https://github.com/OpenDroneMap/node-OpenDroneMap/blob/master/libs/Task.js#L193

I wonder if sending a SIGTERM instead of SIGKILL would fix it, although ideally this should be fixed on OpenDroneMap.

[2017-04-06 01:25] FLYBYME commented on #5
Im not sure what the best signal to send would be.
One thing I can say is this line:
https://github.com/OpenDroneMap/node-OpenDroneMap/blob/master/libs/Task.js#L199
We are wiping out any reference to the running processes by setting `this.runningProcesses = [];`
The removing of the process object should be done in `handleProcessExit` using the splice function of the array. That way when node says

[2017-04-06 12:26] smathermather commented on #3
I expect we'll be building some of this into ODM with improvements to resource tracking upcoming in OpenSfM.

[2017-04-06 13:31] pierotofy commented on #5
That sounds like a good approach. Would you be willing to make a pull request to address this problem? Otherwise I can try to take a stab at it sometimes in the next few days.

[2017-04-07 15:46] FLYBYME commented on #5
Ill see what I can do. My ES6 is not so great.

[2017-04-19 12:16] paulinK opened #9 "starting of server failed"
Hello
I'm trying to run node-OpenDroneMap natively. When I run this command

node index.js --odm_path /home/wedevgroup/WebODM_natif/WebODM , I get this message

error: Error during startup: Could not load list of options from OpenDroneMap. Is OpenDroneMap installed in /home/wedevgroup/WebODM_natif/WebODM? Make sure that OpenDroneMap is installed and that --odm_path is set properly: Unexpected toke

[2017-04-19 13:35] pierotofy commented on #9
Hi PaulinK,

the `--odm_path` refers to the installation of OpenDroneMap (not WebODM). WebODM is an interface to OpenDroneMap. If you want to run node-OpenDroneMap natively, you'll need to get OpenDroneMap to run natively first as well.

See the instructions here: https://github.com/OpenDroneMap/OpenDroneMap

[2017-04-19 13:36] pierotofy commented on #4
This has been added as part of #6. Thanks for the suggestion @FLYBYME!

[2017-04-19 13:36] #4 closed

[2017-04-19 15:05] paulinK commented on #9
Hi @pierotofy
I have seen  that and I have tried to install OpenDronMap nativily but when I run
python run.py --project-path /home/wedevgroup/WebODM_natif/OpenDroneMap/projects/test

I get this error message

Traceback (most recent call last):
  File "run.py", line 8, in <module>
    import ecto
ImportError: No module named ecto

[2017-04-19 15:44] pierotofy commented on #9
Did you follow the instructions in the readme to install OpenDroneMap? https://github.com/OpenDroneMap/OpenDroneMap#installation

[2017-04-19 15:58] paulinK commented on #9
I have follow these instructions
https://github.com/OpenDroneMap/OpenDroneMap/tree/ebaaf802a1fb50e335b3807a35d00cba1e106d11#installation

[2017-04-19 16:26] paulinK commented on #9
Hi @pierotofy
When trying the instructions from

I have got some error

[ 65%] Completed 'ceres'
[ 65%] Built target ceres
Makefile:83 : la recette pour la cible « all » a échouée
make: *** [all] Erreur 2
Compiling build
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   system
--   filesystem
--   thread
--   date_time
--   iostreams
--   serialization
--   chrono
--   atomic
-

[2017-04-19 16:59] paulinK commented on #9
Hi
sorry for my many  posts.
When I try to run
python run.py -i /path/to/images project-name
I get this error message
 Traceback (most recent call last):
  File "run.py", line 4, in <module>
    from opendm import config
  File "/home/wedevgroup/WebODM_natif/OpenDroneMap-master/opendm/config.py", line 6, in <module>
    from appsettings import SettingsParser
ImportError: No module named appsetting

[2017-04-19 20:02] pierotofy commented on #9
Try to run ODM with the `run.sh  -i /path/to/images project-name` script instead of `python run.py ...`. See if that helps!

[2017-04-21 09:56] paulinK commented on #9
Hi @pierotofy
Thank for help. It works fine.
Now I can try to start node-OpenDroneMap
thank you

[2017-04-21 10:09] paulinK commented on #9
Sorry, I have a question please
Can you tell me the role of node-OpenDroneMap? Why is it so important to use it with WebODM ?
Thank

[2017-04-21 10:18] paulinK commented on #9
Sorry @pierotofy
When trying to lunch a task on WebODM (native installation after installing OpenDroneMap and node-OpenDroneMap), I get this message

Process exited with code 1

and also this message in the areatext

Traceback (most recent call last):
  File "/home/wedevgroup/WebODM_natif/OpenDroneMapNoyau/run.py", line 8, in <module>
    import ecto
  File "/home/wedevgroup/WebODM_natif/OpenDrone

[2017-04-26 08:04] clarkerz opened #10 "Enhancement for log time"
Raised as enhancement as advised: Would it be possible to allow the rolling log in the WebODM GUI to be configurable or to show System/Server Time? i.e My server is set to BST (GMT +1) but the output shows GMT or BST -1.

![faff6876-2919-11e7-974d-b565513ef967](https://cloud.githubusercontent.com/assets/9163611/25424150/3b65027c-2a5f-11e7-9302-518956e2ce6b.png)

[2017-05-01 22:12] pierotofy opened #11 "Hide --version parameter"
Does not apply to the API and should be hidden

[2017-05-06 00:32] pierotofy commented on #11
Also need to hide `--name`

[2017-05-16 06:27] gkconsulting opened #12 "Ground Control Points"
Hi, this is just a question.
I noticed that the folder that the Ground Control Points are loaded into is called GPC.
I just wanted to know if this is correct (Ground Point Correction ???) or a typo?
Thanks so much

[2017-05-16 06:40] gkconsulting commented on #9
Hi @paulinK
I'm very new to this but I ran into a similar issue and found that if I start up node-OpenDroneMap with sudo, then I must also start WebODM as sudo else it can't find the libraries.
What version of Linux are you running?
If you not going to be running the server as a production (opening it up to the internet), I found that running everything as root (sudo su) seems to work with no issu

[2017-05-16 12:21] pierotofy commented on #12
That's a typo. Nice catch!

[2017-05-16 12:27] gkconsulting commented on #12
Thanks, did want to change it if it was correct. Will try update tonight and put in a pull request. Thanks

[2017-05-16 19:11] Pratyush1991 opened #13 "Failed at Orthophoto building"
I took the photos with my iphone5s.  I have attached below the link to my data set.
https://drive.google.com/drive/folders/0B7tV_P5gZivFVU1FbHE1Mjk1Tkk?usp=sharing
I have also tried with other data sets i.e. from DJI Phantom 3 which worked well and results were good.
So I feel may be my iphone datasets doesn't have good overlay. But I have tried this data sets with Agisoft photoscan which could cr

[2017-05-16 19:12] pierotofy commented on #13
Thank you for reporting the problem! I will take a look at it and report back my findings.

[2017-05-17 23:16] pierotofy commented on #11
Done

[2017-05-17 23:16] #11 closed

[2017-05-18 01:58] #13 closed

[2017-05-18 02:09] pierotofy commented on #13
It should be working now if you update the code to the latest version (`docker pull opendronemap/node-opendronemap`)

You won't get good orthophoto results with this dataset however. I'd recommend reading this article and shooting more pictures: http://www.tested.com/art/makers/460142-art-photogrammetry-how-take-your-photos/

[2017-05-18 02:09] #9 closed

[2017-05-18 08:26] Pratyush1991 commented on #13
Thank a lot..!! It worked.
I will read the article and try with different data sets.

[2017-05-20 20:11] pierotofy opened #15 "Add lidar2dems to node-OpenDroneMap"
It looks like this package handles the generation of DSM/DTM/CHM in an easy manner. It's based on PCL/PDAL, so it's just a matter of installing it / tying it into the postprocessing.

http://applied-geosolutions.github.io/lidar2dems/

@dakotabenjamin should this be included in ODM?

[2017-05-22 12:17] dakotabenjamin commented on #15
I think its worth at least checking out.

[2017-05-22 13:16] smathermather commented on #15
Might be worth it for the gapfill flag alone: http://applied-geosolutions.github.io/lidar2dems/doc/concepts

[2017-05-22 13:41] pierotofy commented on #15
That's what I was thinking @smathermather

[2017-05-22 19:51] pierotofy commented on #15
Without gapfill:

![image](https://cloud.githubusercontent.com/assets/1951843/26325787/55d7b454-3f06-11e7-832a-b190f597486d.png)

With gapfill:

![image](https://cloud.githubusercontent.com/assets/1951843/26325800/6c3e09be-3f06-11e7-9345-ed1fa4230500.png)

Hillshade:

![image](https://cloud.githubusercontent.com/assets/1951843/26325835/91b2d454-3f06-11e7-9adf-29ad6486bd52.png)

[2017-05-22 20:53] pierotofy commented on #15
Steps to get up and running on latest OpenDroneMap docker image:

[code]

[2017-05-22 20:58] pierotofy commented on #15
DTM/DSM/CHM

![image](https://cloud.githubusercontent.com/assets/1951843/26328051/8d47eb8a-3f0f-11e7-9e5b-a4d33113d355.png)
![image](https://cloud.githubusercontent.com/assets/1951843/26328058/9286aadc-3f0f-11e7-802c-4cb3ef9d148d.png)
![image](https://cloud.githubusercontent.com/assets/1951843/26328112/be765c00-3f0f-11e7-814a-2efd90de6cb8.png)

[2017-05-22 21:40] smathermather commented on #15
This is awesome.

[2017-05-23 13:13] pierotofy commented on #15
@dakotabenjamin will you have any time to integrate this? Otherwise I can try to find some time myself and open a PR in ODM.

[2017-05-23 13:22] dakotabenjamin commented on #15
No I don't think I will have time. Very busy with other things atm, and about to go on vacation.

[2017-05-23 15:31] pierotofy commented on #15
Have fun on vacation 😄

[2017-05-28 18:26] Marklar1983 opened #16 "Interpolation method"
G'day Guys,

Love the work you are doing! not an issue but a suggestion, would it be possible to add bicublic interpolation as a method for the DEM, DSM, 3D Mesh and Orthomosaic creation??

and are you guys leveraging GDAL in this project??

[2017-05-29 13:05] pierotofy commented on #16
Hi @Marklar1983,

yes we are leveraging GDAL for OpenDroneMap; this would be a request to be added in this repository https://github.com/OpenDroneMap/OpenDroneMap, since node-OpenDroneMap only deals with exposing a public API for OpenDroneMap.

Good suggestion!

[2017-06-09 12:36] boopathit98 opened #17 "geotiff process to tiles any idea sir"
hi sir,
geotiff process to tiles any idea please any tutorial sir i will also pay

[2017-06-09 12:58] pierotofy commented on #17
Hello @boopathit98, I'm not sure I understand your question. Could you try to rephrase it?

[2017-06-12 12:58] pierotofy commented on #12
Do you need any help with this one @gkconsulting ?

[2017-06-20 14:17] #17 closed

[2017-06-20 14:37] pierotofy commented on #15
@dakotabenjamin, I'm planning to add the lidar2dems module to ODM core.

Would it be convenient to make a fork of https://github.com/pierotofy/lidar2dems/ under the OpenDroneMap organization so that I can reference that during install?

[2017-06-21 12:22] dakotabenjamin commented on #15
This would facilitate a safer update process as we would have more control over when/how to do so, I think that is a good idea.

[2017-06-30 20:09] #15 closed

[2017-07-24 13:53] boopathit98 commented on #17
orthophoto how to process tiles layer in any tutorial links python please helpful for us

[2017-07-26 16:41] pierotofy opened #20 "Output classified point cloud when generating a DSM"
Would be nice to output the classified point cloud instead of the non-classified point cloud, when one is available.

[2017-07-27 16:09] kikislater commented on #17
Use gdal2tiles or other webmapping technics to generate tiles. In other words, make it with gis

[2017-08-09 12:26] husnimubarok opened #21 "How to maximize available nodes"
I'm running three node (each 4 core and 8GB RAM). It seems the load was not distributed to all available nodes. Am I missing some configuration?

![node-0](https://user-images.githubusercontent.com/860363/29121391-91cf4556-7d38-11e7-8249-d1badeb0f8b5.PNG)
![node-1](https://user-images.githubusercontent.com/860363/29121392-91d3b276-7d38-11e7-951d-b782967b4152.PNG)
![node-2](https://user-images.gith

[2017-08-09 16:21] pierotofy commented on #21
Adding more processing nodes will allow you to run multiple jobs in parallel.

You will not be able to distribute a single job across multiple processing nodes. We are actively working to bring this feature to reality, but we're not there yet.

[2017-09-15 18:20] pierotofy opened #24 "Replace gdal2tiles.py with gdal2tiles_parallel.py"
Help speed up the last part of the process: https://github.com/GitHubRGI/geopackage-python/blob/master/Tiling/gdal2tiles_parallel.py

[2017-09-17 18:56] pierotofy opened #25 "Could not start process (spawn /code/run.sh ENOENT)"
See https://github.com/OpenDroneMap/WebODM/issues/289

[2017-09-29 19:28] giovannicimolin commented on #24
There's also this repo: https://github.com/pramsey/gdal2tilesp/

[2017-09-29 21:01] pierotofy commented on #24
Very nice! Perhaps we could do a benchmark and choose the fastest between the two.

[2017-10-24 20:18] pierotofy commented on #25
This should be fixed.

[2017-10-24 20:18] #25 closed

[2017-11-20 18:56] pierotofy commented on #24
Another candidate: https://github.com/Luqqk/gdal2tiles

[2017-12-12 15:34] prinsherbert opened #26 "locale not supported"
I had an issue when running `./configure.sh install` on ubuntu xenial. The error was hidden, as the configure script did complete successfully.

	Installing OpenSfM Dependencies
	Traceback (most recent call last):
	  File "/usr/bin/pip", line 11, in <module>
	    sys.exit(main())
	  File "/usr/lib/python2.7/dist-packages/pip/__init__.py", line 215, in main
	    locale.setlocale(locale.LC_ALL, '')

[2017-12-12 15:41] #26 closed

[2018-01-09 16:31] FLYBYME opened #27 "Task Run Fail"
I pulled the docker image and built it locally and I keeps getting the same output..

[code]

[2018-01-09 17:53] pierotofy commented on #27
If the computer running node-opendronemap is using an old or 32bit CPU, you need to compile OpenDroneMap from sources and setup node-opendronemap natively. You cannot use docker. Docker images work with CPUs with 64-bit extensions, MMX, SSE, SSE2, SSE3 and SSSE3 instruction set support or higher.

I suppose this information should be placed in the README.

[2018-01-09 20:52] FLYBYME commented on #27
Im running a 64-bit fedora 27 OS so that is not the problem.

[code]

[2018-01-24 20:31] pierotofy opened #32 "Expose how long a task is being kept in the data directory before being purged"
Could be useful for guessing if a task has been eliminated.

[2018-01-25 22:33] PeterSprague opened #33 "Invalid configuration file config-default.json error"
Getting error when attempting to run in Docker.  Builds w/o errors.
$ docker run --rm -it --name node-odm-001 gei/opendronemap:nodeodm-nocuda-opencv-3.3.1-amd64.debian-stretch
Invalid configuration file config-default.json

Been through the json file, nothing seems out of kilter.  ODM builds and runs fine.

[2018-01-25 22:42] pierotofy commented on #33
Hey @PeterSprague, thanks for reporting the problem.

Does this image work? https://hub.docker.com/r/opendronemap/node-opendronemap/ (it's built from master every night).

[2018-01-25 22:44] pierotofy commented on #33
The error is thrown here https://github.com/OpenDroneMap/node-OpenDroneMap/blob/master/config.js#L54 so perhaps the file does not exist in the image you've built?

[2018-01-25 22:48] PeterSprague commented on #33
if (/\.json$/i.test(configFilePath)){
	try{
#L54		let data = fs.readFileSync(configFilePath);
		configFile = JSON.parse(data.toString());
	}catch(e){
		console.log(`Invalid configuration file ${configFilePath}`);
		process.exit(1);
	}

fs refers to a nodejs module?

[2018-01-26 00:19] pierotofy commented on #33
It's a core module. The npm warnings aren't related.

https://nodejs.org/api/fs.html

[2018-01-26 01:19] PeterSprague opened #34 "node-uuid depreciated error"
$ npm install

npm install error:
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/nodemon/node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})
Removing intermediate container 48d312d65960

npm WARN deprecated gracef

[2018-01-26 01:21] #33 closed

[2018-01-26 01:43] pierotofy commented on #34
I'm a bit confused, could you explain in more detail what the problem is and steps to reproduce it?

[2018-01-26 01:52] PeterSprague commented on #34
As you said, not directly breaking the build.  Wanted to tune now to remove the warnings and take care of lingering legacy code

To reproduce:
Revised node-uuid to uuid in package.json
$ npm install -g coffeescript jshint

$ docker build .....
$ docker run ......

[2018-01-26 01:54] pierotofy commented on #34
I see! Would you be willing to open a PR with the changes to `package.json` and `Dockerfile` (if applicable)?

[2018-01-26 01:59] PeterSprague commented on #34
Can do once have a solution

[2018-03-01 14:50] giovannicimolin commented on #24
I found out that gdal2tiles.py already supports multicore tiling, but it's not released with GDAL on yet, it's only on their SVN trunk.

I've tested and found out it works really well and also better handles nodata values.

On their repo: https://svn.osgeo.org/gdal/trunk/gdal/swig/python/scripts/gdal2tiles.py

[2018-03-06 21:31] tymiles003 commented on #27
Team,
I have run into the same issue, any resolution to this. I have it install on a Ubuntu 16.04 64bit vm on vmware esx with 16gb or ram & 100gb ssd?

[2018-03-11 16:08] madeinoz67 opened #35 "change rename calls to move (so that volumes can be mounted)"
When running using the node container within a docker webodm installation, I'm having issues after uploading images where jobs are failing because of the lack of disk space. where the processing node is filling up after a 2nd or third job that the docker volume this container it's using is filling up and is capping out at 10GB.

I have the web-odm containers  all running on a centos 7.4 docker hos

[2018-03-12 01:47] madeinoz67 commented on #35
Docker host df before task is executed

![2018-03-12_00-34-57](https://user-images.githubusercontent.com/4160293/37261835-407239b6-25da-11e8-9268-6b9c862cb566.png)

Docker df after task has finished
![2018-03-12_09-45-07](https://user-images.githubusercontent.com/4160293/37261837-40c828ee-25da-11e8-9770-37aa518417fc.png)

[2018-03-12 14:28] pierotofy commented on #35
I'd suggest increasing `dm.basesize` as a workaround for the moment.

https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-storage-driver

There's been a proposal to change `rename` with some other command that could move files between file systems (so that people could mount a volume), but I don't think anyone had time to contribute to this change yet. I'll leave this open as an i

[2018-03-16 17:01] smathermather commented on #24
@giovannicimolin -- do you have time to put together a pull request?

[2018-03-19 13:28] giovannicimolin commented on #24
@smathermather We've dropped support for node-ODM and are currently using a custom solution based on OpenDroneMap.

[2018-03-19 13:31] giovannicimolin commented on #24
@smathermather Not much right now, but when gdal releases their trunk version of gdal2tiles.py I can make a PR.

[2018-05-07 19:20] DelphiR commented on #27
Hi. I have made a decade of tests using different computers in our lab.
This error will 100% reproduced in many AMD CPUs from athlon to phenom ones.
The attempt of recompile will not help. It seems that docker contains some Python compiled code for special cpus. Dear autors! You just enable the core2 optimization which may give you 1-2% of calculation speed but destroy compatibility with many CPUs

[2018-06-27 16:31] pierotofy opened #41 "Expose amount of RAM/CPUS available on node when calling /info"
This can be useful in selecting a processing node based on the dataset size.

[2018-06-27 21:38] #41 closed

[2018-07-17 15:48] thomstarnes commented on #9
I'm getting the same error:

  File "/home/thomas/Downloads/OpenDroneMap_v0_3_1/opendm/config.py", line 6, in <module>
    from appsettings import SettingsParser
ImportError: No module named appsettings

Running ODM with the ./run.sh -i /path/to/images project-name script instead of python run.py is producing the same error.

[2018-08-04 19:36] xmutantson opened #44 "[question] Is there a way to use a separate disk for node-opendronemap workspace so I can avoid filling up my disk?"
I run a processing node on Ubuntu 16.04 and I filled the hard drive. I fixed that issue but it was a lengthy process. I was wondering if there was a configuration to contain the workspace on a separate partition or hard disk so that if I ever fill the disk I can wipe the drive and start over? This would also be useful for buying larger HDDs and running them alongside the OS SSD.

[2018-08-05 00:50] xmutantson commented on #44
Oh, that's perfect! I can just edit my bootup script. Thanks so much!

On Sat, Aug 4, 2018 at 1:23 PM Piero Toffanin <notifications@github.com>
wrote:

--
Kameron Markham
Washington State University (Tri-Cities)
(253)347-3004

[2018-08-05 03:06] #44 closed

[2018-08-05 03:08] pierotofy commented on #44
Please note that you *might* encounter this problem: https://github.com/OpenDroneMap/node-OpenDroneMap/issues/35

if you do, please let us know.

[2018-09-12 19:02] pierotofy commented on #27
This might have been the same as https://github.com/OpenDroneMap/OpenDroneMap/issues/859.

Do you still get the error with the latest docker image?

[2018-09-12 20:34] #35 closed

[2018-09-12 21:19] hy9be opened #47 "Work with ODM docker"
The document says we can specify the path or ODM using ``--odm_path`` parameter. What if I am using ODM as docker? Is it possible to have node-OpenDroneMap work with an ODM docker? Thanks!

[2018-09-12 23:28] pierotofy commented on #47
Hey @hy9be :hand: I'm not entirely sure what you mean by using ODM as docker, perhaps you meant you're using docker for running ODM?

You can certainly use node-OpenDroneMap using docker as well. Just use the `opendronemap/node-opendronemap` image as indicated in the README https://github.com/OpenDroneMap/node-OpenDroneMap. The image already includes OpenDroneMap and you don't need to configure a

[2018-09-13 17:50] pierotofy commented on #47
Go with 1). After you are done making your customizations to node-odm, from the node-odm directory simply run:

`docker build -t hy9be/node-opendronemap .`

Then you can run everything in docker using `hy9be/node-opendronemap` instead of `opendronemap/node-opendronemap`.

[2018-09-13 17:51] #47 closed

[2018-09-13 19:41] hy9be commented on #47
@pierotofy get it. Thanks!

[2018-11-03 22:43] pierotofy opened #50 "Expose ODM version"
We should read /code/VERSION and expose it through the API. Otherwise we don't know what version we are running.

[2018-11-09 16:14] pierotofy commented on #27
Closing due to inactivity.

[2018-11-09 16:14] #27 closed

[2018-11-21 16:29] pierotofy opened #52 "Add option to upload results to S3"
We should have a config to enable upload of complete results to S3.

[2018-11-21 16:31] pierotofy opened #53 "Add config to set a static callback"
We already have the option to specify a custom callback URL for a new task. We should also have a  callback option at the entire node level (so that it's the same for each task and doesn't need to be passed for each task).

[2018-11-23 18:21] pierotofy commented on #52
This is now implemented in the `apichanges` branch. cc @talltom

[2018-11-23 18:21] #52 closed

[2018-11-23 19:53] pierotofy commented on #53
This is now integrated in the `apichanges` branch.

[2018-11-23 19:53] #53 closed

[2018-11-24 03:34] matthewberryman commented on #52
@pierotofy seems you forgot to push the apibranches branch? I can't find it in the list of [GH branches](https://github.com/OpenDroneMap/NodeODM/branches) at present time.

[2018-11-24 03:38] smathermather commented on #52
https://github.com/pierotofy/node-OpenDroneMap/tree/apichanges

[2018-11-24 04:09] smathermather commented on #52
@matthewberryman

[2018-11-28 06:56] xmutantson commented on #44
Here's my start script, but it still fills the wrong disk. It took me a while to get around to actually needing to do it, which is why I'm necroing the thread.

#!/bin/sh
cd ~/WebODM
./webodm.sh start
mkdir /mnt/sdb1
mount /dev/sdb1 /mnt/sdb1
docker run -p 3000:3000 -v /mnt/sdb1:/var/www/data opendronemap/node-opendronem$
#docker run -p 3000:3000 opendronemap/node-opendronemap

[2018-11-28 21:07] xmutantson commented on #44
Found the problem. The script actually never worked because cd ~/WebODM would point to the root account because it was in /etc/init.d and the solution was to explicitly point it to the directory with /home/kameron/WebODM

[2018-11-28 21:41] #50 closed

[2018-11-30 13:57] pierotofy opened #54 "Rewrite view console output code in UI"
Tends to freeze with very large task outputs.

[2018-11-30 14:11] smathermather commented on #54
An issue I have been meaning to write...

[2018-11-30 19:08] #54 closed

[2018-12-02 23:06] #34 closed

[2018-12-04 02:54] pierotofy opened #58 "Make S3 uploads more resilient"
Currently if a S3 upload fails, the task will fail. We should make the upload process robust to failure by attempting multiple times if uploads fail.

[2018-12-05 15:17] pierotofy commented on #58
Done.

[2018-12-05 15:17] #58 closed

[2018-12-11 15:54] pierotofy opened #60 "Chunked upload API"
For very large datasets, it would be a good addition to have an alternative method to upload images, via chunks. If a connection is bad, the upload via a single POST request is not very feasible.

[2018-12-11 18:33] smathermather commented on #60
👏👏👏👏👏

[2018-12-14 22:36] pierotofy opened #61 "Add option to skip postprocessing"
Perhaps a user is not interested in tiles and the potree output, in which case we should skip it.

It might be interesting to move the tiling / potree logic to a worker on WebODM, since it's mostly just time consuming, but not memory intensive.

[2018-12-23 05:41] xmutantson opened #65 "Cannot access processing node after update"
There's no template here, so I'll try to get everything. I'm using WebODM on windows 10, version 0.7.0. Also using WebODM on 16.04 Ubuntu Linux LTS, as an easy way to interface with its processing node from windows. My issue is that with the latest upgrade, the processing node running on the Linux box on port 3000 has stopped responding. Manual starts and stops of WebODM has not resolved the issue

[2018-12-23 16:07] pierotofy commented on #65
If you run from a shell:

`docker run -p 3000:3000 -v /mnt/sdb1:/var/www/data opendronemap/node-opendronemap`

Are you able to access http://localhost:3000 ? If so, then the node is working fine. Note that you should use the IP address of your network card to reference the node in WebODM, don't set the hostname to `localhost`, use the IP address instead.

[2018-12-23 20:47] xmutantson commented on #65
Here's the output. Not sure what to make of it.

kameron@SilverPancake:~/WebODM$ docker run -p 3000:3000 -v /mnt/sdb1:/var/www/da                                             ta opendronemap/node-opendronemap
docker: Error response from daemon: driver failed programming external connectiv                                             ity on endpoint youthful_carson (09b9222a6afb134801e3ad2d64b76c4d1c

[2018-12-25 06:10] xmutantson commented on #65
So I think I now understand what you were asking me to do. I went to the address int he web browser. This is what I have.
![image](https://user-images.githubusercontent.com/29498365/50414152-ba2ee580-07c8-11e9-838c-f1c641982ef8.png)

[2018-12-29 07:46] xmutantson commented on #60
@pierotofy What's the timeout set to on the start of the POST request?

[2019-01-04 17:34] #61 closed

[2019-01-06 06:56] xmutantson commented on #65
I tried it again, and now with new results. I am on a local netowrk with the server and now get this error. @pierotofy
![image](https://user-images.githubusercontent.com/29498365/50733159-2d2b4b00-113d-11e9-8f8c-31ec655cf4e7.png)

[2019-01-06 21:43] pierotofy commented on #65
@xmutantson I wish I knew what the problem was, but I don't know what's causing it. It seems to be specific to the environment in which you are running WebODM on, so it's likely a possible configuration/network issue, not necessarily a problem with WebODM itself?

[2019-01-07 00:16] xmutantson commented on #65
[code]
Ping statistics for 192.168.8.112:
    Packets: Sent = 55, Received = 55, Lost = 0 (0% loss),
Approximate round trip times in milli-seconds:
    Minimum = 0ms, Maximum = 1ms, Average = 0ms
[/code]
How is this a network issue? My network seems stable to me. That ping report was generated after deleting webodm on both machiens and reinstalling. Is it significant that the API versions are diff

[2019-01-07 01:37] pierotofy commented on #65
There's only one API, that's the NodeODM API (the latest version is 1.3.1). WebODM doesn't care too much about what version you are using, as the API as not changed much since its first release. If in doubt, make sure you are running the latest version of both software, but I don't think that's the root of the problem.

[2019-01-07 03:43] pierotofy opened #68 "Heartbeat checking"
It would be good to add the ability to create a task and optionally use calls to /info as a “heartbeat” check for verifying that a client hasn’t abandoned a task.

[2019-01-07 15:18] pierotofy commented on #24
This has been taken care of.

[2019-01-07 15:18] #24 closed

[2019-01-07 15:20] pierotofy opened #69 "Split-merge Support"
We should expand the NodeODM API to support the split-merge workflow. Design to be decided. Possibly related/connected to https://github.com/MasseranoLabs/nodeodm-proxy/issues/4

[2019-01-07 17:56] smathermather commented on #69
👍 cc @dakotabenjamin

[2019-02-02 01:41] pierotofy commented on #65
Closing as this does not seem a bug in NodeODM.

[2019-02-02 01:41] #65 closed

[2019-02-04 18:37] #60 closed

[2019-02-04 20:44] pierotofy opened #71 "Add button to show download URL in UI"
Perhaps a user wants to use a different program to download the task results.

[2019-02-07 15:59] pierotofy opened #72 "Cleaning up tasks should factor the time it took to complete a task"
Otherwise long tasks might be deleted right after completion. Use creationDate + processingTime instead of creationDate alone.

[2019-02-13 20:03] pierotofy commented on #71
Done!

[2019-02-13 20:03] #71 closed

[2019-02-13 21:00] #72 closed

[2019-03-07 08:43] windcatcher opened #75 "ERROR 1: attempt to write a readonly database"
ERROR 1: attempt to write a readonly database

Input file size is 12045, 14622
0
.
.
.
.
20

[2019-03-08 01:39] kladess opened #76 "I hope get tasks list by REST API"
I hope get tasks list by REST API

[2019-03-08 02:54] pierotofy commented on #76
Hey @kladess can you explain more in details your use case?

Retrieving the task list would expose tasks processed by all users, which could be a problem in environments where multiple users are submitting tasks.

[2019-03-08 04:17] kladess commented on #76
hi @pierotofy I agree to your mention, it will be make other problem.

I just hope checking NodeODM Status.
because not showing in Web UI when i command by api from c# or java

[2019-03-08 05:12] pierotofy commented on #76
I would probably try to check the status directly from your Java or C# application. Keep track of the task ID and then query it at regular intervals for status updates?

[2019-03-08 05:12] pierotofy commented on #75
Hey @windcatcher, is this a bug report?

[2019-04-10 15:16] pierotofy opened #77 "Filename sanitization sometimes breaks GCP files"
If a filename is sanitized, the GCP no longer references the correct filename and will fail.

NodeODM should sanitize the GCP file as well.

[2019-04-11 15:13] #76 closed

[2019-04-11 15:13] #75 closed

[2019-04-15 09:40] hitesh4 opened #78 "Syntax Errors. Please have a look or check if versions are okay?"
nvidia@tegra-ubuntu:~/NodeODM$ node index.js --test
/home/nvidia/NodeODM/libs/S3.js:89
                        }, (2 ** file.retries) * 1000);
                               ^

SyntaxError: Unexpected token *
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:549:28)
    at Object.Module._extensions..js (module.js:586:10)
    at Module.

[2019-04-15 09:48] hitesh4 commented on #78
Also another doubt. Where do the files go after complete processing? I was able to run it on my local machine, but not on jetson TX2. On the local machine, it said deleted temporary files something like that, can't I store those files or not let it delete the files until I see them.

[2019-04-27 02:43] pierotofy commented on #78
I'd upgrade nodejs version. The software has been tested with version10.x. For other questions, let's move the conversation over to https://community.opendronemap.org. Thanks!!

[2019-04-27 02:43] #78 closed

[2019-05-09 00:22] pierotofy opened #80 "Progress Reporting API"
There should be a "progress" value reported back in the task info. That way we don't have to guess it from looking at the console output in client applications.

[2019-05-13 10:58] pierotofy commented on #69
Done via seed file support and partial output retrieval (1.5.0 spec changes).

[2019-05-13 10:58] #69 closed

[2019-05-14 11:50] MatthiasSiewert opened #81 "[Improvement] Save settings file in all.zip"
Would be great to save the settings/options for processing as a simple text file in the all.zip that can be downloaded once processing is complete. This way it can be easily traced what settings worked well an which didn't.

[2019-05-14 14:04] pierotofy commented on #81
Would a summary of the settings used in the console output of the task work also?

[2019-05-14 16:35] MatthiasSiewert commented on #81
I am not sure what the console output would be, but what i would be interested in, as a user, are the changes compared to the default settings, something like the dashboard summary:
[code]

My idea was to have a simple reminder to trace back what settings have been used to achieve a specific result.

[2019-05-19 21:03] pierotofy commented on #81
I've added the config options to the output of the console log when running an ODM process in https://github.com/OpenDroneMap/ODM/pull/979/commits/ee188803053e7f1ec8408d5e8b24480ba327e241

So now people will be able to trace back the options by looking at the console output:

[code]

This will become available when the split merge branch is merged (in the upcoming weeks).

Thanks for the feedback!

[2019-05-19 21:03] #81 closed

[2019-05-20 02:44] smathermather commented on #81
Absolutely awesome. This is always such a pain to reconstruct if one isn't incredibly organized.

[2019-05-20 14:25] pierotofy commented on #80
Done!

[2019-05-20 14:25] #80 closed

[2019-05-20 14:26] pierotofy commented on #12
This has been fixed some time ago.

[2019-05-20 14:26] #12 closed

[2019-05-20 14:27] pierotofy commented on #21
Horizontal scaling is now possible via ClusterODM https://github.com/OpenDroneMap/ClusterODM and via split-merge https://github.com/OpenDroneMap/ODM/pull/979

[2019-05-20 14:27] #21 closed

[2019-05-20 17:48] smathermather commented on #80
w00t!

[2019-05-20 17:49] smathermather commented on #21
I love when the older issues just disappear... .

[2019-05-30 00:08] htlin opened #83 "How to get other output files in odm_orthophoto?"
https://github.com/OpenDroneMap/NodeODM/blob/434b84bf7c2a8e618ed25bbff13d786fd3121a62/libs/Task.js#L341
In this line I see that this is the default list of outputs to be compressed as "All Assets", however it is missing some other files such as `odm_orthophoto/odm_orthophoto_corners.txt` and `odm_orthophoto/odm_orthophoto_log.txt`.

Is there a way to specify this outputs list somewhere?

[2019-05-30 02:37] pierotofy commented on #83
Yes, you can use the `outputs` field in https://github.com/OpenDroneMap/NodeODM/blob/master/docs/index.adoc#post-tasknew

In PyODM this is available via `create_task` (`outputs` parameter): https://pyodm.readthedocs.io/en/latest/#api

[2019-05-30 12:40] #83 closed

[2019-06-02 19:42] pierotofy opened #84 "Allow hot-start of processingTime and console output values"
Might be useful for integrating a more seamless experience with ClusterODM.

[2019-06-04 19:49] #84 closed

[2019-06-09 22:22] pierotofy opened #87 "Remove seed.zip after extraction"
It can probably help save some space.

[2019-06-28 10:56] adamavip opened #90 "Troubles to run NodeODM node"
Hello,

I have an issue and any help would be welcome. When i am trying to run the command docker run -ti -p 3000:3000 opendronemap/nodeodm. It seems that it connects to the server. The output is:
 info: Authentication using NoTokenRequired
info: Listening on 0.0.0.0:6367 UDP for progress updates
info: No tasks dump found
info: Checking for orphaned directories to be removed...
info: Server has st

[2019-06-28 14:41] pierotofy commented on #90
Hey @adamavip, could we move over the conversation to https://community.opendronemap.org? This looks like it's a configuration/network problem, not a bug.

Thank you! :pray:

[2019-06-28 14:41] #90 closed

[2019-07-25 07:59] yingyi-ma opened #92 "Max images where to Config??"
![image](https://user-images.githubusercontent.com/49050636/61856596-096efd00-aef5-11e9-8792-3d0ba894b36d.png)

[2019-07-25 14:15] pierotofy commented on #92
Hey @yingyi-ma  :hand: this looks like a question, can we move the discussion to https://community.opendronemap.org  (this issue tracker is for reporting bugs) ?

Thank you!

[2019-07-25 14:15] #92 closed

[2019-08-15 18:38] pierotofy opened #93 "Return odm_orthophoto.png"
It has been asked to provide odm_orthophoto.png in the list of assets by default.

This needs some thought, as there has to be a compromise between speed and availability of assets.

[2019-09-13 17:55] pierotofy opened #94 "Add job timeout"
Would be cool to be able to set a maximum runtime for a task, in the remote case that it gets stuck.

[2019-09-13 22:42] smathermather commented on #94
Definitely.

[2019-10-02 03:08] pierotofy commented on #68
This is not feasible as users might legitimately shut off their computer and let a task run online. Closing.

[2019-10-02 03:08] #68 closed

[2019-10-02 03:10] pierotofy commented on #16
This belong to the ODM repo and should have been closed time ago. :+1:

[2019-10-02 03:10] #16 closed

[2019-10-04 02:10] #94 closed

[2019-10-04 02:10] #93 closed

[2019-10-04 02:10] #87 closed

[2019-10-05 17:37] SachinVarghese commented on #10
@pierotofy Could you clarify the issue with relevant updates as the initial problem seems to be quite old?

[2019-10-06 13:13] pierotofy commented on #10
Hey @SachinVarghese ✋ looking at this issue more carefully, it seems like this would be a logging problem in OpenSfM (a library we use in NodeODM), so this issue should have been opened there. I’m sure the maintainers of OpenSfM might welcome a fix (https://github.com/mapillary/OpenSfM). I will close this one for now here.

[2019-10-06 13:13] #10 closed

[2019-10-09 19:48] pierotofy opened #96 "Save copy of input parameters as JSON for each dataset"
It could be useful to know which parameters were used and how to reprocess a dataset.

[2019-10-09 21:34] Saijin-Naib commented on #96
In addition to what Piero wrote above, I believe the below workflow is a compelling use-case for this project JSON.

If in the future the infrastructure is modified to accommodate it, having this project source JSON would also enable workflows similar to Pix4D where a project can be begun locally and then migrated to the cloud or another processing node, or vice-versa (a workflow I made heavy use

[2019-10-17 17:38] pierotofy opened #97 "Evaluate and implement a task list API"
We could consider adding an API for querying about current tasks. This might allow a person to see tasks that have been submitted from different clients.

This needs to be carefully thought as just dumping the task IDs of a processing node might leak data in multi-user scenarios.

[2019-12-14 17:23] gotjoshua opened #102 "NodeODM should show tasks that came from WebODM"
### What is the problem?

node_odm web interface does not display ongoing tasks that came from web_odm

### What should be the expected behavior?

when web_odm sends a task to a processing node, when i go to the web interface of the processing node it should show the task

### How can we reproduce this?

1. set up webodm with docker-compose and make the node_odm accessible via traefik (or other re

[2019-12-14 17:25] gotjoshua commented on #102
my docker-compose example:
[code]

[2020-01-08 20:03] pierotofy opened #104 "Handle duplicate filenames"
Duplicate filenames should be processed correctly instead of causing a replace and being skipped. See https://community.opendronemap.org/t/duplicate-jpg-names/3380/2

[2020-01-10 14:10] pierotofy opened #105 "Change default parallel tasks to 1"
It might be better to start with defaults that process one dataset at a time instead of `2` (for memory reasons). Many users ask how to lower this parameter.

[2020-01-11 20:31] smathermather commented on #105
Agreed.

[2020-01-18 18:08] pierotofy opened #106 "Make zipping faster/memory efficient by replacing nodejs lib with native app"
Zipping tends to take a lot of memory with very large datasets. We should seek to improve that by replacing the archiver library with a native call to a zip utility.

[2020-01-19 03:39] smathermather commented on #106
I've been meaning to create this issue for a couple days. :D

[2020-01-19 18:10] pierotofy opened #107 "Skip DEM tiling if orthophoto is not available"
It indicates that no coordinate reference system is available and it could stall the process. See https://community.opendronemap.org/t/webodm-optimizations-on-windows-10/3425/3

[2020-01-19 18:36] #105 closed

[2020-01-19 18:55] #104 closed

[2020-01-19 18:58] #107 closed

[2020-01-19 20:22] pierotofy commented on #106
Fixed in #99

[2020-01-19 20:22] #106 closed

[2020-01-19 21:40] #97 closed

[2020-01-20 03:36] smathermather commented on #104
w00t!

[2020-01-20 03:37] smathermather commented on #106
Fantabulous. I thank you. My massive datasets thank you.

[2020-02-03 18:43] pierotofy commented on #102
This is now fixed in #99 ! :clinking_glasses:

[2020-02-03 18:43] #102 closed

[2020-02-05 03:31] pierotofy opened #109 "gdal2tiles.py will very rarely hang during postprocessing"
Witnessed it while processing a task. The program just "hung" without progress for 2 days. Restarting it completed.

Really odd, not sure how to reproduce it.

[2020-02-26 10:56] linusmartensson commented on #77
Wanted to reference https://github.com/OpenDroneMap/ODM/issues/1074 here, since this may be the same issue.
The sanitizing in NodeODM seems unnecessary since the rest of ODM works without it. In addition to the above issue, I found it causes errors when using exif files sent from a master odm instance running with --sm-cluster, and any use of the feature and match data being transferred back will

[2020-04-03 21:44] pierotofy commented on #3
This was opened 3 years ago, but there hasn't been a push to implement it. There's also other tools, like Grafana https://play.grafana.org that would probably solve this need better. PRs are welcome if there's still interest.

[2020-04-03 21:44] #3 closed

[2020-04-03 21:45] pierotofy commented on #5
ODM now handles SIGTERM signals much better, which should fix the problem that was reported here. If it's still a problem, please re-open it :clinking_glasses:

[2020-04-03 21:45] #5 closed

[2020-04-03 21:46] #32 closed

[2020-04-03 21:49] pierotofy commented on #77
Sorry for the late reply, mm, I think you're right, special characters should work OK in ODM and I think this was implemented to originally fix the common issue of spaces in filenames, but since ODM handles those now, this is probably no longer needed.

[2020-04-03 21:51] pierotofy commented on #109
Closing due to inability to reproduce.

[2020-04-03 21:51] #109 closed

[2020-04-03 21:52] pierotofy commented on #77
Commit that introduced sanitization: https://github.com/OpenDroneMap/NodeODM/commit/cbf5e400275c08575031ea2e61cce30cfed56f03

[2020-04-04 16:24] pierotofy commented on #77
Removed sanitization in latest master. This can be closed.

[2020-04-04 16:24] #77 closed

[2020-04-04 22:24] smathermather commented on #3
Yup. Agreed that 3rd party tools make sense here.

[2020-04-07 13:45] askeuhd opened #112 "Feature request: Including log file in downloadable assets"
I do a lot of processing on AWS Spot Instances and once I am done with them they get deleted for good - I often forget to download the logfile, which is a shame because I forget the exact settings I have used from time to time.

Would be hard or possible to include the txt logfile ind the "all.zip" downloadable asset? It should not take up that much additional space compared to the other assets in

[2020-04-07 16:45] pierotofy commented on #112
Wouldn't be too hard to add I think; would you be interested in making a pull request?

[2020-05-25 19:14] hy9be commented on #112
@pierotofy Any guidance on where to start? I'm interested to make a PR for this.

[2020-05-25 21:30] pierotofy commented on #112
I would wrap the calls to `this.output.push` (from other places in the code too) into a function and have the code push to the output array while writing to a file. Other options might be doable too.

[2020-06-08 13:08] gotjoshua opened #116 "max-concurrency set to 6 still overloading 9 vProcessors"
### What is the problem?

I have a 6core (12 v core) processor and I set a processing job to use max-concurrency: 6.
I am using docker-compose 2.3 to limit the CPUs for the node-odm service to use core #s 4-12.
The load is steadily over 15 and often spiking over 20.

### What should be the expected behavior?

I would expect that if i set max-concurrency to 6 and I have 9 cores available, then load

[2020-06-08 19:24] pierotofy commented on #116
Hey @gotjoshua :hand: thanks for the report; double check the flag, it's `max_concurrency`, not `max-concurrency`?

[2020-06-09 07:56] gotjoshua commented on #116
Hello! well, I am using web-odm to set it, so i think its correct, here is the server log (i dropped it to 4 in this attempt, and it appears to be playing nicely now):
[code]

perhaps the concurrency should default to (vcores * 0.5 - 1)... As it seems that each thread is capable of up to 400% CPU in spikes, so when i had 6 threads if they spike together over 150% cpu, then they will fully saturate

[2020-06-09 14:29] pierotofy commented on #116
Ah, I see. I think you're seeing the number of "virtual cores" (`--max-concurrency`) refers to the number of physical cores. If you have something like hyper-threading, then max-concurrency set to `4` will use up to `8` logical cores.

Perhaps you can achieve your desired result by setting the value to `2` instead of `4`?

[2020-06-09 15:38] gotjoshua commented on #116
That explains it!! Thanks.
As I have 9 vCores available(for the node docker container) i think 4 is low enough for now, it seems to be running much more stably now.

Perhaps this could go as a detail into the tooltip in web-odm with a different recommendation (and even default value if possible to get system info about the number of cores available)

Cheers!

[2020-06-09 16:13] #116 closed

[2020-07-24 21:11] pierotofy opened #118 "Add a way to override the engine type"
Currently `odm` is hard-coded.

[2020-09-01 05:50] kikislater opened #122 "Bad link in readme.md"
### What is the problem?

one link in Readme.md is wrong

### What should be the expected behavior?

Good link or proper redirection

### How can we reproduce this? (What steps did you do to trigger the problem? Be detailed)

Line 27 : Load some images is a wrong link. it affects NodeCM as well since this is the same base

Which link should it be ? May be https://github.com/OpenDroneMap/ODMdata

[2020-09-01 13:49] pierotofy commented on #122
Hey @kikislater  :hand: would you be interested in opening a PR to fix this?

[2020-09-01 13:52] kikislater commented on #122
Yep if link mentioned is the proper one

[2020-09-01 14:28] #122 closed

[2020-09-22 20:28] pierotofy opened #128 "Domain checks are not being respected and throw an error"
Set `dem-resolution` to `2` or `2.5`.

[code]

Seems like a regression due to the recent ODM 2.0 update.

[2020-09-22 20:39] #128 closed

[2020-10-01 05:15] bitshiftza opened #130 "Docker Versioning"
### What is the problem?

New docker images are always tagged as `latest`. This means there's no way of ensuring that you get the same docker image each time you run `docker pull`.

### What should be the expected behavior?

1. The newest image is tagged with `latest` for those who want the absolute latest version.
2. Each time a new version of the image is pushed, also tag it with a version numbe

[2020-10-01 13:20] pierotofy commented on #130
Docker lets you re-tag images, (see `docker tag`), so one could pin a specific version if they want to. We are on a rolling-release https://en.wikipedia.org/wiki/Rolling_release deployment strategy. Especially with the new changes coming to docker https://www.docker.com/pricing/resource-consumption-updates we're probably not going to offer versioning, even for ODM (which we currently tag).

[2020-10-05 04:42] #130 closed

[2020-11-21 23:48] pierotofy opened #133 "Replace %(choice)s in help text with domain values"
A minor bug shows the string %(choice)s in the help of options parameters.

[2020-11-21 23:49] pierotofy opened #134 "Add <select> box for fixed-domain options in UI"
Options such as `pc-quality` could be more easily selected with a <select> box from the UI.

[2020-12-07 14:14] #118 closed

[2020-12-07 14:14] #134 closed

[2020-12-07 14:14] #133 closed

[2021-01-19 11:56] gubinhua commented on #112
File "/code/stages/odm_meshing.py", line 66, in process
mesh.create_25dmesh(tree.filtered_point_cloud, tree.odm_25dmesh,
File "/code/opendm/mesh.py", line 42, in create_25dmesh
mesh = screened_poisson_reconstruction(dsm_points, outMesh, depth=depth,
File "/code/opendm/mesh.py", line 162, in screened_poisson_reconstruction
system.run('{bin} --in {infile} '
File "/code/opendm/system.py", line 79, in

[2021-01-19 12:06] gubinhua opened #142 "when i ues nodeDOM or opendronemap to create orthophoto, crashed"
when i ues nodeDOM to create orthophoto , this problem pop up. I don't know why and how to fixed it

File "/code/stages/odm_meshing.py", line 66, in process
mesh.create_25dmesh(tree.filtered_point_cloud, tree.odm_25dmesh,
File "/code/opendm/mesh.py", line 42, in create_25dmesh
mesh = screened_poisson_reconstruction(dsm_points, outMesh, depth=depth,
File "/code/opendm/mesh.py", line 162, in screene

[2021-01-19 14:02] pierotofy commented on #112
@gubinhua could we move this conversation over to the forum at https://community.opendronemap.org? :pray: The forum is the right place to ask questions (we try to keep the GitHub issue tracker for feature requests and bugs only). Thank you! :+1:

[2021-01-19 14:03] pierotofy commented on #142
Could we move this conversation over to the forum at https://community.opendronemap.org? :pray: The forum is the right place to ask questions (we try to keep the GitHub issue tracker for feature requests and bugs only). Thank you! :+1:

[2021-01-19 14:03] #142 closed

[2021-02-07 15:58] pierotofy commented on #112
This is now implemented :clinking_glasses:

[2021-02-07 15:58] #112 closed

[2021-02-24 07:46] recoiladam opened #146 "Lack of CORS support causing failures"
### What is the problem?

CORS (Cross-Origin Resource Sharing) does not exist. When I make a `POST` request to `/task/new/init?token=` using `axios`, the OPTIONS request fails and the subsequent `POST` request fails because CORS support does not exist. Within axios, there is no way to disable the CORS requests.

### What should be the expected behavior?

CORS OPTIONS requests should be successful.

[2021-02-24 14:50] pierotofy commented on #146
Hey @recoiladam sounds like a useful addition. Interested in contributing a PR for this?

[2021-02-24 19:33] recoiladam commented on #146
I have never committed to a public project but sure, I can give it a shot.

[2021-02-24 20:44] recoiladam commented on #146
Pull request #147 created. I hope I did that correctly.

[2021-02-24 21:38] pierotofy commented on #146
You did! :) Welcome to the community.

[2021-02-24 21:38] #146 closed

[2021-05-11 07:20] markFieldman opened #150 "GPU processing inside NodeODM"
### What is the problem?
Support of GPU in NodeODM with using another base image at Dockerfile, or with additional Dockerfile.
As I see, that GPU support was recently published. https://github.com/OpenDroneMap/ODM/issues/92
I created my own version of NodeODM with replaced base image, and it works incredibly fast!!
![Results](https://user-images.githubusercontent.com/35110941/117774705-737ba200-b2

[2021-05-11 14:40] pierotofy commented on #150
Yes a PR would be most welcome!

[2021-05-20 09:47] markFieldman commented on #150
Done https://github.com/OpenDroneMap/NodeODM/pull/151

[2021-05-20 10:30] markFieldman opened #152 "Tiles compression using WebP, instead of PNG tiles. Using WebP (optionally) as input format for overall process."
### What is the problem?
PNG tiles, after generating ortophotos - was so huge, so i found my own way of tiles compression. Using [Imaginary](https://github.com/h2non/imaginary) i achieved ~10x compression (200 mb --> 20 mb) of PNG tiles to WebP tiles without image quality loss.

### Example 1:
PNG with size of 157kb
![PNG tile without compression](https://user-images.githubusercontent.com/35110941

[2021-05-20 13:55] #150 closed

[2021-06-09 17:11] pierotofy commented on #96
Closed by https://github.com/OpenDroneMap/ODM/pull/1297

[2021-06-09 17:11] #96 closed

[2021-06-15 18:10] Saijin-Naib commented on #152
AVIF would also be amazing to test out as well, as it tends to compress better than WebP in most cases, and with better fidelity.

[2021-06-15 18:13] Saijin-Naib opened #157 "Feature Suggestion: Report File Upload progress to clients/log"
I think it'd be amazing if NodeODM would report the progress of file/data upload to the connected clients (WebODM) as well as the log output, so that the end-user is apprised of exactly what image out of what image is being uploaded, when each image completes (an idea of how long it is taking per image), and the rough progress of this part of the process. I envision this looking/working similarly

[2021-06-15 18:18] pierotofy commented on #157
We have a progress bar that keeps track of upload progress. We could add more details in the logs, perhaps.

[2021-06-15 18:23] Saijin-Naib commented on #157
WebODM/Lightning clients in the Project/Task management screen. I wasn't sure if this should be filed there, or if NodeODM is responsible for having the API/feature to report these upload events to the client/logs.

[2021-06-16 07:28] markFieldman commented on #152
Main problem is browser support:
https://caniuse.com/webp
vs
https://caniuse.com/?search=avif

[2021-06-16 11:34] Saijin-Naib commented on #152
It's certainly more forward looking, but I think it'd be great as an additional option alongside WebP.

[2021-06-18 21:25] pierotofy opened #158 "Cannot (sometimes) move folder on Windows"
Reported on https://community.opendronemap.org/t/webodm-refusing-to-process-dataset-without-reason-given/8037

[code]

[2021-06-20 18:10] pierotofy opened #159 "A corrupted tasks.json prevents NodeODM from starting up"
[code]

We should probably just remove the file ourselves automatically.

[2021-06-20 19:58] pierotofy commented on #158
This is most likely due to Mcafee being overly aggressive and placing a lock on the directory: https://ryanhayes.net/npm-install-error-eperm-operation-not-permitted-rename/

[2021-06-21 15:00] #159 closed

[2021-06-21 15:00] #158 closed

[2021-06-21 23:07] pierotofy opened #161 "Restarting a task loses --pc-ept and --cog when skipPostProcessing is not set"
Restarting a task will result in `--pc-ept` and `--cog` not being set if `skipPostProcessing` is not set. This is incorrect.

[2021-06-22 15:31] #161 closed

[2021-07-06 06:40] tteke commented on #152
For a while a go I switched form using seperately generated tiles to Cloud Optimized Geotiff's (which NodeODM generates as well). With a frontend library like geotiffjs, you can use them as if you have seperate files for each tiles. You should check it out.

[2021-07-19 10:53] Arcturuss opened #163 "No restart button for failed task in webUI"
### What is the problem?

There is no restart button in web interface for failed or completed task (windows version, release 2.1.9)

### What should be the expected behavior?

Button should appear for any task that can be restarted.

### How can we reproduce this? (What steps did you do to trigger the problem? Be detailed)

NA

Currently I'm trying to figure out options for PoissonRecon (it keeps

[2021-07-23 19:21] mikegreen opened #164 "opendronemap/nodeodm:gpu referenced in docs does not exist"
### What is the problem?

In the docs, `opendronemap/nodeodm:gpu` is referenced to use for GPU support, here:
https://github.com/OpenDroneMap/NodeODM#using-gpu-acceleration-for-sift-processing-inside-nodeodm

It appears https://hub.docker.com/r/opendronemap/nodeodm does not have a `gpu` tagged image?

### What should be the expected behavior?

opendronemap/nodeodm:gpu exists

### How can we reprod

[2021-07-25 14:46] PArch commented on #164
+1

[2021-07-26 16:22] mikegreen commented on #164
@markFieldman looks like you added this GPU doc. Can you clarify where it came from/does it currently exist?

[2021-07-26 16:24] markFieldman commented on #164
It was added during my experiments. I forgot to add issue about creating CI pipeline for building image with GPU support.

[2021-08-02 10:18] markFieldman commented on #164
@pierotofy can you include Dockerfile.gpu to Docker Hub CI pipeline?

[2021-08-02 13:55] pierotofy commented on #164
I'm in the process of waiting for the docker team to approve our open source application to access the automated build feature once again (it is a paid feature now).

[2021-08-09 16:25] pierotofy commented on #164
In the meanwhile, I've manually setup a dispatch mechanism to trigger builds via GitHub, so this should be solved! :pray:

[2021-08-09 16:25] #164 closed

[2021-09-22 06:17] ntr-808 opened #167 "Unable to download specific asset from task results."
It looks like no matter what asset file is specified as a URL param this handler is returning false.
I haven't yet tried to remove it but it looks like just removing that early return would see the desired functionality.

https://github.com/OpenDroneMap/NodeODM/blob/994d049074abbafeb6ad817330c38268b77db260/libs/Task.js#L207

[2021-09-22 06:26] ntr-808 commented on #167
Quick update:

I removed the entire if statement and the following works as expected:

`http://localhost:3000/task/0e021568-5bd0-41b1-80d0-e0fb58fb1c5a/download/odm_georeferencing%2Fodm_georeferenced_model.laz`

[2021-09-27 02:03] ntr-808 commented on #167
workaround that downloads a specific file from the all.zip

[code]

[2021-09-27 02:03] #167 closed

[2021-10-08 16:25] pierotofy opened #174 "Intel.GPU image depends on nodeodm:gpu but doesn't get rebuilt correctly"
Launching a GitHub action for the intel.gpu image currently pulls opendronemap/nodeodm:gpu (which hasn't been built to the latest version right away).

[2022-01-21 12:04] Eragoo opened #177 "Invalid UUID error on /task/new request with 'zipurl' param"
### What is the problem?
POST request on /task/new with zipurl throw {"error": "Invalid UUID"} error.

### What should be the expected behavior?

UUID of created task expected as response

### How reproduce this?

To reproduce with postman:

1. Specify POST request to localhost:3000/task/new
2. Make sure that Content-Type header is set to 'multipart/form-data'
3. Add body with key 'zipurl' and val

[2022-01-21 13:05] Eragoo commented on #177
Tried to provide UUID through **set-uuid** header according to documentation but nothing changed.

Seems like error throws from [newTask.js](https://github.com/OpenDroneMap/NodeODM/blob/bb8b7bda5cf81c649574b96c8c1237864a25872e/libs/taskNew.js) file 392 line.

[2022-04-15 10:37] zhang7249 opened #180 "Loading dataset from: /var/www/data/552fda05-b488-4661-83d0-05733bdf343b/images"
****************************************
PLEASE REMOVE THIS NOTE AFTER READING IT!

First of all, thank you for taking the time to report an issue.

For questions, comments and feature requests, please open a topic on https://community.opendronemap.org/. This is not the right place.

Please open an issue only to report faults and bugs and follow the format specified below.
************************

[2022-04-15 10:43] zhang7249 commented on #180
[INFO]    use_3dmesh: False
[INFO]    use_exif: False
[INFO]    use_fixed_camera_params: False
[INFO]    use_hybrid_bundle_adjustment: False
[INFO]    verbose: False
[INFO]    ==============
[INFO]    Running dataset stage
[INFO]    Loading dataset from: /var/www/data/552fda05-b488-4661-83d0-05733bdf343b/images
[ERROR]   Not enough supported images in /var/www/data/552fda05-b488-4661-83d0-05733bdf

[2022-04-15 14:45] pierotofy commented on #180
Could we move this conversation over to the forum at https://community.opendronemap.org? :pray: The forum is the right place to ask questions (we try to keep the GitHub issue tracker for feature requests and bugs only). Thank you! :+1:

[2022-04-15 14:45] #180 closed

[2022-05-03 07:20] timii111 commented on #177
I also got this issue with the latest version. I changed back the Docker image version to 2.4.10, that solved me the issue.
(One of my college used the image successfully last summer, that's why I chose this version)

[2022-05-08 18:13] theoway opened #181 "Add support for downloading input images from S3 bucket."
### What is the problem?

There should be a way for NodeODM to directly get input images from a S3 bucket/folder and use it for processing. Currently, one has to upload it from their machine to a remote instance.

### What should be the expected behavior?

There should be a field where one can simply enter the name of the S3 path to images folder, and be able to process it, saving the results in t

[2022-05-08 18:18] theoway commented on #181
### How I'm going to implement this:
Here, I'll add a similar function to `download_images()` from the S3 path
https://github.com/OpenDroneMap/NodeODM/blob/6acd3726f646726e46db5127c00abe57fd19a31c/libs/S3.js#L77

Modifications will have to be made in places like these:
https://github.com/OpenDroneMap/NodeODM/blob/6acd3726f646726e46db5127c00abe57fd19a31c/index.js#L201-L284

[2022-06-25 19:42] fosteman commented on #181
Also interested in doing something similar. My thought was to mount GCP bucket onto the local filesystem with gcloud api.

[2022-07-05 14:44] matanPercepto commented on #161
Was looking at this issue and I find it the other-way around- every time I start a task, it automatically adds the --pc-ept and --cog options, even if I didn't use them (working with pyodm)

[2022-07-05 14:50] matanPercepto opened #182 ""rerun" argument does not work on nodeODM when running from pyODM"
### What is the problem?

When starting a task with "rerun" option, this flag isn't set and the entire flow runs

### What should be the expected behavior?

the flow should only run the required stage, and not the entire flow
### How can we reproduce this? (What steps did you do to trigger the problem? Be detailed)

using pyodm:

from pyodm import Node
images = [<path_to_images>]
options = {"rerun

[2022-07-05 21:50] pierotofy commented on #182
Hi @matanPercepto :hand: this is not exactly bug, it was designed this way; NodeODM cannot run a single stage at a time, but it can restart from a stage using the `rerun-from` option. See https://github.com/OpenDroneMap/NodeODM/blob/d80ec213c6f875dc263e4fc5e9c336e2f98e23a2/libs/odmInfo.js#L83 for a full list of options that will not work with NodeODM.

What's your use case? What are you building?

[2022-07-06 11:55] matanPercepto commented on #182
Hi @pierotofy, thanks for the quick response!
I saw this line of skipped options in the code (some of them are different than the official ODM documentation options), and wanted to ask why is that?
Specifically, I am trying to run opensfm and openmvs at different stage of a project, as well as the full flow on another batch of images.

[2022-07-06 11:58] matanPercepto opened #183 "Was looking at this issue and I find it the other-way around- every time I start a task, it automatically adds the --pc-ept and --cog options, even if I didn't use them (working with pyodm)"
Was looking at this issue and I find it the other-way around- every time I start a task, it automatically adds the --pc-ept and --cog options, even if I didn't use them (working with pyodm)

_Originally posted by @matanPercepto in https://github.com/OpenDroneMap/NodeODM/issues/161#issuecomment-1175146368_

[2022-07-06 13:55] #183 closed

[2022-08-25 14:13] jekhor opened #185 "node-odm:gpu don't start on Ubuntu 22.04 due of lacking cgroups v2 support"
When trying to start WebODM with GPU support, i get error:
[code]

It seems to be issue in nvidia  docker images and there is a workaround exists: https://github.com/NVIDIA/nvidia-container-runtime/issues/47#issuecomment-463495931

Seems to be fixed already: https://github.com/NVIDIA/libnvidia-container/issues/111#issuecomment-1030065763

[2022-08-25 17:04] pierotofy commented on #185
Thanks for the report @jekhor 🙏

I wonder if this is something we can fix (perhaps improve the webodm.sh script) or if this is something that requires upgrading to the latest docker/NVIDIA libs.

[2022-08-25 19:32] jekhor commented on #185
I didn't understand also, because don't know full inheritance tree of this nvidia-docker-related projects.

[2022-08-27 21:02] jekhor commented on #185
I am sorry, it was false alarm from my side. I didn't upgrade nvidia-docker2 package (the repository was commented during of OS upgrade). After upgrading it, WebODM works as expected with --gpu parameters. You already have links for nvidia-docker installation in the README, so this issue can be closed.

[2022-08-27 21:02] #185 closed

[2022-09-01 20:20] theoway opened #186 "Separate webhooks for processing success & failure"
### What is the problem?

Same `webhook` in NodeODM triggers for both failure & success.

### What should be the expected behavior?

There should be provision to add separate `webhooks` for process success & failure.

[2022-09-01 20:31] theoway commented on #186
Closing as there is no need for this. One can get the information from the request body attached with the webhook called.

[2022-09-01 20:31] #186 closed

[2022-09-07 14:49] FrankvVeelen commented on #181
Did you make any progress on this? I'm trying to do the same thing and would love to know if you got it working.

[2022-09-09 07:50] theoway commented on #181
No, I'm working on a different feature in the ODM engine.

[2022-09-10 15:49] arkhamHack opened #187 "Unable to use gpu acceleration as docker can't identify nvidia gpu driver"
### What is the problem?

For running nodeodm:gpu I need nvidia gpu acceleration but docker is unable to find the nvidia gpu driver.
![image](https://user-images.githubusercontent.com/72064090/189491003-20d4c343-01c4-4660-a239-73af29f10fc1.png)

### What should be the expected behavior?
Ans: Nodeodm should be able to harness nvidia gpu fpr gpu acceleration.

### How can we reproduce this? (What st

[2022-10-07 13:54] cbjornram commented on #187
Hey, saw this while passing by.
It looks like a non-ODM issue and more of a NVIDIA/Docker issue, since the first image you have attached shows that the Docker NVIDIA test fails. The `docker run --rm --gpus all nvidia/cuda:10.0-base nvidia-smi` test is completely independent from NodeODM and ODM.

Have you followed the NVIDIA Docker installation guide over at https://docs.nvidia.com/datacenter/clou

[2022-10-16 15:31] arkhamHack commented on #187
@cbjornram Thanks for the solution, will try out installing all the drivers.

[2022-10-16 15:31] #187 closed

[2022-11-28 19:29] 6monkeyrs opened #188 "nodeodm-windows-x64.zip Missing libraries?"
### What is the problem?

Missing libraries?
Windows NodeODM: https://github.com/OpenDroneMap/NodeODM/releases/latest

### What should be the expected behavior?

The nodeODM references to "F:\vm35\nodeodm0\libs\taskNew.js:305" and "libs" does not exsist in the download package.

### How can we reproduce this? (What steps did you do to trigger the problem? Be detailed)

Download the zip package, an